@import "../../styles/variables.scss";

.skill-list {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    padding: 1em;
    background-color: $clr-secondary;
    color: $clr-font;
    align-items: center;
    justify-content: center;
  
    &__card-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 1rem;

        &__header {
            margin-bottom: 1rem;
        }

        &__skills {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          gap: 1rem;
        }
    }


}