@import "../../styles/variables.scss";

@media screen and (min-width: $tablet-breakpoint) {
    /* increases font-size of all items by 10% */
    :root {
        font-size: 110%;
    }
    
}

@media screen and (min-width: $desktop-breakpoint) {
    .landing-section {
        background-color: $clr-primary;
        color: $clr-font;
        height: 100vh;
        height: 100svh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        &__info {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
            margin-bottom: 100px;


            transform: translate(0,-10%);
            &__dev-name {
                font-weight: 700;
                letter-spacing: 5px;
                font-size: 7rem;
                margin: 0;
                text-align: center;
            }
            &__dev-role {
                font-weight: 200;
                letter-spacing: 10px;
                font-size: 2rem;
            }
        }

        &__tech-stack {
            height: 1px;
            padding: auto;
        }

    }
    
}
