@import "../../styles/variables.scss";

.landing-section {
    background-color: $clr-primary;
    color: $clr-font;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    &__img {
        object-fit: cover;
        position: absolute;
        top: 5%;
        left: 1%;
        transform: scale(1.1);
        transform-origin: top left;

        @media (max-width: 1440px) {
            transform: scale(0.9);
            top: 5%;
            left: 1%;
        }

        @media (max-width: 1024px) {
            transform: scale(0.9);
            top: 5%;
            left: 1%;
        }

        @media (max-width: 870px) {
            display: none; // Hide the image on tablets and smaller devices
        }
    }
    
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        margin-bottom: 100px;

        &__dev-name {
            font-weight: 700;
            letter-spacing: 5px;
            font-size: 9rem;
            margin: 0;
            text-align: center;

            @media (max-width: 1400px) {
                font-size: 7rem;
                letter-spacing: 2px;
            }

            @media (max-width: 1280px) {
                font-size: 6rem;
                letter-spacing: 2px;
            }

            @media (max-width: 1144px) {
                font-size: 5rem;
                letter-spacing: 2px;
            }

            @media (max-width: 590px) {
                font-size: 4rem;
                letter-spacing: 2px;
            }

            @media (max-width: 480px) {
                font-size: 3rem;
                letter-spacing: 1px;
            }

            @media (max-width: 350px) {
                font-size: 2.5rem;
                letter-spacing: 1px;
            }
        }
        &__dev-role {
            font-weight: 200;
            letter-spacing: 10px;
            font-size: 2rem;
            text-align: center;

            @media (max-width: 1024px) {
                font-size: 1.5rem;
                letter-spacing: 5px;
            }

            @media (max-width: 768px) {
                font-size: 1.5rem;
                letter-spacing: 5px;
            }

            @media (max-width: 480px) {
                font-size: 1rem;
                letter-spacing: 2px;
            }
        }
    }

    &__tech-stack {
        height: 1px;
        padding: auto;

        @media (max-width: 768px) {
            padding: 1rem 0;
        }
    }
}

