@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* here we use rem for font-size 
 * rem is relative to the :root element in the dom (html tag)
 * we can manipulate the :root element's font-size at different breakpoints to scale up the font-size application-wide */

* {
  font-family: 'Gothic A1', sans-serif;
  color: $clr-font;
}

h1,
h2,
h3,
h4,
p {
  /* adding display and width prevents margin collapse on these semantic text elements */
  margin: 0.5rem 0.5rem;
  display: inline-block;
  width: 100%;
}

p {
  font-size: 1.125rem;
  font-family: 'Gothic A1', sans-serif;
}

button {
  font-size: 1rem;
  font-weight: bold;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h1, 
h2,
h3,
h4 {
  font-weight: bold;
  font-family: 'Gothic A1', sans-serif;
}



@media screen and (min-width: $tablet-breakpoint) {
  /* increases font-size of all items by 10% */
  :root {
    font-size: 110%;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  /* increases font-size of all items by 20% */
  :root {
    font-size: 120%;
  }
}
