/* breakpoints */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;


/* colors - light mode */
$clr-primary: #EBDDC6;
$clr-secondary: #FDF2E1;
$clr-font: #29201d;

// colors - fonts
$clr-white: #FFFFFF;
// $clr-black: Black;




