@import "../../styles/variables.scss";

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 1rem 2rem;
    background-color: $clr-primary;
    color: $clr-font;

    &__links {
        display: flex;
        justify-content: end;
        align-items: center;
        text-align: right;
        gap: 2rem;
        
        a {
            text-decoration: none;
        }
    }
}